
        .container {
            background-color: rgb(240, 255, 255);
        }

        a {
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container2 {
            margin: 35px;
            background-color: springgreen;
            padding: 30px;
            color: antiquewhite;
            max-width: 1300px;
            border-radius: 40px;
            max-height: 305px;
            border: 8px solid darkgreen;
        }

        h1, h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        input {
            border: 2px solid antiquewhite;
            border-radius: 8px;
            block-size: 70px;
            max-width: 550px;
            max-height: 30px;
            font-size: large;
            font-weight: 600;
        }

        .inside1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        button {
            border: 2px solid white;
            border-radius: 6px;
            margin: 5px;
            cursor: pointer;
            background-color: white;
        }

        .button2 {
            color: gray;
            background-color: white;
            font-weight: bolder;
            font-size: large;
            border: white;
        }

        .blocks {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            max-width: 1200px;
            width: 100%;
        }

        .innerB {
            background-color: azure;
            border: 2px solid antiquewhite;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            border-radius: 14px;
        }